/*
Source - https://stackoverflow.com/a
Posted by Susmit Ullas
Retrieved 2025-12-03, License - CC BY-SA 4.0
*/

@import "tailwindcss";

@layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* For Firefox. */
    * {
        scrollbar-width: none;
    }

    /* For WebKit (Chrome & Safari). */
    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    background-color: #131219;
}
